{% if include.post_page %}
	<div class="take-me">
		<a class="button" href="{{ site.baseurl }}#recipe">Ir a la receta</a>
	</div>
{% endif %}
<h1>
	<a href="{{ site.baseurl }}{{ include.post.url }}">
		{{ include.post.title }}
	</a>
</h1>
<time datetime="{{ include.post.date | date_to_xmlschema }}">
	{{ include.post.date | date: "%B %-d, %Y" | replace: "January","Enero" | replace: "February","Febrero" | replace: "March","Marzo" | replace: "Apryl","Abril" | replace: "May","Mayo" | replace: "June","Junio" | replace: "July","Julio" | replace: "August","Agosto" | replace: "September","Septiembre" | replace: "October","Octubre" | replace: "November","Noviembre" | replace: "December","Diciembre" }}
</time>
